body{
    background-image: url("../img/password.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    background-color:gray;
    text-align:center;
    width: 500px;
    height:400px;
    margin:150px auto;
    color:white;
    font-size: 20px;
    font-family:Verdana;
    border-radius:20px;
}
button{
     border-radius: 20px;
     background: rgb(68,224,206);
     background: linear-gradient(90deg, rgba(68,224,206,1) 26%, rgba(143,226,75,1) 100%);
     color: white;
     font-size: 20px;
     cursor: pointer;
}